#main-container {
  margin-top: 5.75rem;
  /* padding: 1rem; */
  /* height: 2000px;
  overflow: scroll; */
  /* border: 1px solid red; */
  /* overflow: hidden; */
}

.profile-container {
  /* border: 1px solid red; */
  /* margin-top: 40px; */
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  /* background: green; */
}

#profile-image-container {
  padding-bottom: 2rem;
}

#profile-image {
  cursor: initial;
  box-shadow: 0 1rem 1rem #0008;
  overflow: visible;
  /* width: var(--profileImageSize); */
  /* height: var(--profileImageSize); */
}

#profile-image-shadow {
  width: 100%;
  height: .5rem;
  margin-top: 2rem;
  background: radial-gradient(#000f, #0006, #0000, #0000);
}

#site-heading-container {
  display: flex;
  flex-direction: column;
  text-shadow: 0 1rem .75rem #0008;
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

#site-heading {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  overflow: visible;
}

#heading-info {
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 1.5rem;
  /* overflow-y: visible; */
}

#contact-button-container {
  margin-top: 2rem;
  overflow: visible;
}

#contact-button {
  padding: 1.5rem 1rem;
  margin-bottom: 5rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  background: linear-gradient(#393a5d, #222338);
  box-shadow: 0 1rem .75rem #0008;
  color: white;
}

/* Events */

#events-container {
  background: #222338;
  /* padding: 2rem 1rem; */
  box-shadow: inset 0 .5rem .4rem #0006, inset 0 -.5rem .4rem #0006;
  /* margin-bottom: 2rem; */
  /* box-shadow: inset 0 -.5rem .4rem #0006; */
}

#events-title {
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  /* text-align: center; */
}

/* #events-image-container {
  padding: 1rem
} */

#event-types-container {
  color: white;
  text-align: center;
  /* border: 1px solid red; */
}

.event {
  padding: 1.5rem 1rem;
  padding-bottom: 1.2rem;
  box-shadow: inset 0 .2rem .4rem #0006;
}

/* About */

#about-container {
  background: black;
  margin-bottom: 2rem;
}

#about-title {
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#about-info {
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 1.5rem;
}

/* Footer */

/* footer {
  border: 1px solid red;
} */

#contact-container {
  position: relative;
  /* background-image: url("../images/bar.jpg"); */
  /* border: 1px solid red; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* display: flex; */
  box-shadow: inset 0 .25rem .5rem #0005;
  background: #222;
  /* background: linear-gradient(#222, #000); */
  flex-direction: column;
  overflow: hidden;
}

#contact-image-container {
  position: absolute;
  /* width: 100%; */
  /* display: flex; */
  overflow: hidden;
  /* border: 1px solid red; */
}

#contact-image {
  /* position: absolute; */
  opacity: .5;
  margin: 0 auto;
  z-index: -1;
  /* width: 100%; */
  /* max-width: 1000px; */
}

#contact-title {
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 1rem .75rem #0008;
  /* filter: none;
  -webkit-filter: none; */
}

#contact-info-container {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0 1rem .75rem #0008;
}

.contact-info {
  line-height: 1.5rem;
}

/* Copyright */

#copyright-container {
  padding: 2rem 1rem;
  color: gray;
  text-align: center;
  font-size: .75rem;
  /* border: 1px solid red; */
}

/* Table */

#rotation-container {
  position: absolute;
  /* display: flex; */
  width: 100%;
  height: 100%;
  padding-top: 16rem;
  /* overflow: hidden; */
  /* overflow: visible; */
  /* overflow-x: hidden; */
  z-index: -1;
  /* border: 1px solid red; */
}

#table-container {
  /* position: absolute; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* top: 16rem; */
  width: 300vw;
  /* height: 100%; */
  margin-left: calc(-50%);
  transform: rotate(15deg);
  /* transform: rotate(2deg); */
  z-index: -1;
  user-select: none;
  /* border: 1px solid red; */
}

#table-glass {
  height: 18rem;
  width: 200vw;
  background: linear-gradient(#000, #393a5d);
}

#table-frame-top {
  height: 1.5rem;
  width: 200vw;
  background: linear-gradient(to left, #333, #333, #696969, #333, #333);
}

#table-frame-front {
  height: 2rem;
  width: 200vw;
  background: linear-gradient(to left, #2f2f2f, #222);
}

/* Responsive */

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #table-container {
    top: 24rem;
  }

  #rotation-container {
    padding-top: 24rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #profile-image-shadow {
    display: none;
  }

  #table-container {
    top: 36rem;
  }

  #rotation-container {
    padding-top: 36rem;
  }
}